@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
  --font-familly:"Merriweather", serif;
  --font-title:  bold 3.45em  var(--font-familly);
  --font-subtitle: italic 2.45em var(--font-familly);
  --font-para:var(--font-familly);
  --primary-color: #cc3000ff;


}
/* Mobile first */

/*Hero Banner*/
.hero--container{
display: grid;
place-items: center;;
}
.hero-wrapper{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 10px rgb(0 0 0 0.1);
   
  background-color: #fff;
 
 
  border-radius: 1em;

  width: 90vw;
 
 
}

.hero--container img{
  border-radius: 10px; 
  object-fit: cover;

}
 


.hero-wrapper p:first-of-type{
  font: var(--font-title);
  color:#403C4E;
  margin-bottom: 5px;
  text-align: start;
}
.hero-wrapper p:last-child{
  text-align: center;
}

.hero-wrapper p span{
  /* Some decoration*/
}
 
 

.hero--container button{
  width: 100%;
  background-color: var(--primary-color);
  padding: 0.375em 0.6em; 
  font-weight: 700;
  font-size: 1.125em;
  border-radius: 0.75em;
  color: #fff;
  margin-top: 10px;

  cursor: pointer;
}



@media (min-width: 500px) {
  
.hero-wrapper{
  flex-direction: row;
  gap: 1em;

}.hero--container img{
 width: 40vw;
 max-width:450px ;
}
.hero--text--wrapper{
  display: grid;
  place-content: center;
}


.hero--text--wrapper button{
  margin-top: 2em;
  max-width:380px;
  }

}


 
/*Reason Dashboard*/

.reason--dashbord{

  background: #E44D26;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  display: grid;
 place-items: center;
 padding: 1em;

 
}.reason-wrapper{
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
}


.reason-wrapper > p{
  font:var(--font-subtitle);
  color:#403C4E;
  margin-bottom: 1em;
}
 
.reason-wrapper--slides{
  display: flex;
  flex-direction: column;
}
 

/*Reason SLIDES*/

.reason--slide--title{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.reason_slide_text{
transition: 1s;  
transform: translateY(2px);
}



@media (min-width: 500px) {
 
  .reason-slide{
 
display: grid;
grid-template-columns: 1fr 1fr 1fr;
  }

  .reason-slide > div{
    width: 30vw;
    height: 300px;
 
  }
   
  
  }





/*goals-dashboard*/

.goals-dashboard{

  
}
.goals-dashboard img{
 height: 100vh;
 width: 100vw;
 object-fit: cover;


  
}

.goals-dashboard .joinUs {
   position: absolute;
   width: 100%;
   height: 100%;
 
   display: grid;
   place-items: center;


  
} 

.goals-dashboard .joinUs p {
font: var(--font-title);
color: #fff;
font-weight: 900;
background-color: var(--primary-color);

text-align:left;
 
} 
.goals-dashboard .joinUs button {

 font: var(--font-subtitle);
color: var(--primary-color);
background-color: #fff;

border-radius: 0 0 10px;
 
 
} 

 
